# Supabase — copy from your project settings → API
NEXT_PUBLIC_SUPABASE_URL=https://pxxasgesidajkcskgatc.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4eGFzZ2VzaWRhamtjc2tnYXRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NDg5ODksImV4cCI6MjA5ODIyNDk4OX0.mp2woswCsXDDKLAVt17n2wnodwnyf-cv7Y7pGtpxCGg
